package createexample

import (
	"{{ module_path }}/internal/app/example/domain"
	"{{ module_path }}/pkg/validator"
)

type (
	InputPayload struct {
		Name string `json:"name" validate:"required,min=1,max=255"`
	}

	OutputPayload struct {
		ID   uint   `json:"id"`
		Name string `json:"name"`
	}
)

func (p InputPayload) validate() error {
	return validator.Validate(p)
}

func (p InputPayload) toDomain() domain.Example {
	return domain.Example{Name: p.Name}
}

func toOutputPayload(e domain.Example) OutputPayload {
	return OutputPayload{
		ID:   e.ID,
		Name: e.Name,
	}
}
