package main

import (
	"context"
	"log/slog"
	"os"
	"os/signal"
	"syscall"
)

func main() {
	logger := slog.New(slog.NewJSONHandler(os.Stdout, nil))

	ctx, stop := signal.NotifyContext(context.Background(), syscall.SIGINT, syscall.SIGTERM)
	defer stop()

	if err := run(ctx, logger); err != nil {
		logger.Error("service failed", "error", err)
		os.Exit(1)
	}
}

func run(ctx context.Context, logger *slog.Logger) error {
	logger.Info("starting", "service", {{ '"' ~ project_name ~ '"' }})

	{% if project_type == 'single-service-rest' -%}
	// TODO: wire up HTTP server, routes, handlers, dependencies
	{% elif project_type == 'single-service-grpc' -%}
	// TODO: wire up gRPC server, register services, listener
	{% elif project_type == 'single-service-graphql' -%}
	// TODO: wire up GraphQL server (gqlgen or similar)
	{%- endif %}

	<-ctx.Done()
	logger.Info("shutdown signal received")
	return nil
}
