run:
  timeout: 5m
  tests: true

linters:
  disable-all: true
  enable:
    - errcheck
    - govet
    - ineffassign
    - staticcheck
    - unused
    - gofmt
    - goimports
    - misspell
    - revive
    - gosec
    - bodyclose
    - errorlint
    - nilerr

linters-settings:
  goimports:
    local-prefixes: {{ module_path }}
  revive:
    rules:
      - name: var-naming
      - name: error-return
      - name: error-naming
      - name: if-return
      - name: indent-error-flow
      - name: range-val-in-closure

issues:
  exclude-use-default: false
  max-issues-per-linter: 0
  max-same-issues: 0
